<p id="notice"><%= notice %></p>

<h1>Create Appointment</h1>
<%= form_tag do %>
  <%= label_tag(:email_address, "Email Address:") %>
  <%= text_field_tag(:email_address) %>
  <%= submit_tag("Submit") %>
<% end %>
